

body {
    text-align: center;
    background-color: #1D1D1D;
    width: 60%;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    color: lightgray;
}

button {
    background-color: orange;
    border-width: 0;
}

button:hover {
    background-color: darkorange;
}

button:active {
    background-color: darkgreen;
}

.navbar {
    background-color: #282828;
    border: 2px solid darkorange;
    padding: 5px;
}

.navbar a {
    font-weight: bold;
    text-decoration: none;
    color: orange;
    margin-left: 10%;
    margin-right: 10%;
}

.navbar a:hover {
    color: darkorange;
}

.navbar a:active {
    color: darkgreen;
}

.navbar button {
    margin-left: 10%;
    margin-right: 10%;
}

.dataform {
    background-color: #282828;
    display: none;
}

.profile {
    margin-top: 3%;
    border-radius: 10px;
    background: #282828;
    float: left;
    width: 25%;
    margin-right: 3%;
    position: sticky;
    padding: 0;
    top: 10px;
}

.profile .avatar {
    margin-top: 5%;
    border-radius: 50%;
    width: 128px;
    border: 3px solid;
    border-color: #F06721;
}

.address {
    margin-bottom: 5%;
}

.address .qrcode {
    width: 256px;
    margin-left: 5%;
    margin-right: 5%;
}

.address .action_btn {
    display: inline-block;
    width: 37.5%;
}

.address button {
    width: 100%;
}

.username {
    text-align: left;
}

.description {
    text-align: left;
}

.subscriptions {
    text-align: right;
    width: 25%;
    float: right;
}

.content {
    margin-left: 27.5%;
    text-align: center;
    width: 45%;
}

.item {
    border-radius: 12px;
    text-align: left;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #222222;
}

.item .title {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    display: inline;
}

.item .price {
    font-weight: bold;
    float: right;
    margin-right: 2%;
    display: inline;
}

.item .description {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}

.item .paymentbtn {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}

.item .paymentCode {
    text-align: center;
    margin-bottom: 0;
    color: orange;
}

.send_info {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    min-height: 50px;
}

.send_info p {
    float: left;
    display: inline;
}

.send_info .price_xmr {
    float: right;
}

.payment_checker {
    margin-top: 20px;
}

.payment_checker * {
    font-size: 18px;
}

.payment_checker .inner {
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
}

.payment_checker input {
    background-color: #222222;
    color: lightgray;
    border-width: 0;
}

.payment_checker button {
    margin-top: 10px;
}



