<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>

    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/dashboard.css">
    <script src="../static/script.js"></script>
    <script src="../static/dashboard.js"></script>

    <noscript>I see you disable JavaScript! You're good! but unfortunately, site needs it to work. You can make sure the site isn't doing any nasty stuff in dev panel.</noscript>

    <title>xmrsub - Dashboard</title>
</head>
<body>

    <div class="navbar">
        <a href="/">home</a>
        <a href="/dashboard">dashboard</a>
    </div>

    <div id="addbalance" class="dataform">
        <h1>Add balance</h1>
        <label>Amount</label>
        <input id="amount" name="amount" class"amount" type="number" placeholder="Enter amount">
        <button onclick="onNewPaymentBtn();">Continue</button>
    </div>

    <div id="waitforpayment" class="dataform">
        <h1>Add balance</h1>
        <p id="waitforpayment-str">
            Please, send $amount XMR to the following address:
            $address
        </p>
        <button onclick="onPaymentCompleteBtn();">Continue</button>
        <p>Waiting for payment...</p>
    </div>

    <div class="user-info">
        <p><b>Hash:</b> {{ user.user_hash }}</p>
        <p><b>Balance:</b> {{ user.balance }} XMR</p>
        <button onclick="onAddBalanceBtn();">Add balance</button>
    </div>

</body>
</html>
