<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>

    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>

    <noscript>I see you disable JavaScript! You're good! but unfortunately, site needs it to work. You can make sure the site isn't doing any nasty stuff in dev panel.</noscript>

    <title>{{ username }}</title>
    <link rel="icon" href="{{ avatar }}">

    <meta property="og:title" content="{{ username }}'s xmrsub page"/>
    <meta property="og:image" content="{{ avatar }}"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:url" content="{{ base_url }}"/>
    <meta property="og:image:width" content="512" />
    <meta property="og:image:height" content="512"/>
    <meta property="og:type" content="website"/> 
</head>
<body>

    <div class="navbar">
        <a href="/">home</a>
        <button id="dasboardbtn" onclick="onDashboardBtn();">dashboard</button>
    </div>

    <div id="login" class="dataform">
        <h1>Log in</h1>
        <label>User hash</label>
        <input id="hash" name="hash" class="hash" type="email" placeholder="Enter hash">
        <label>Password</label>
        <input id="login-password" name="password" class="password" type="password" placeholder="Enter password">
        <button type="submit" onclick="onLoginBtn();">Continue</button>
        <button onclick="onCreateNewAccBtn();">Create new account</button>
    </div>

    <div id="reg" class="dataform">
        <h1>Registration</h1>
        <label>Password</label>
        <input id="reg-password" name="password" class="password" type="password" placeholder="Enter password">
        <button onclick="onRegBtn();">Continue</button>
    </div>

    <div class="profile">
        <img class="avatar" src="{{ author["avatar"] }}">

        <div class="address">
            <img src="{{ qrcode }}" class="qrcode">
            <div class="action_btn">
                <button id="copyAddressBtn" name="{{ author["address"] }}" onclick="onCopyAddressBtn(this)">Copy</button>
            </div>
            <div class="action_btn">
                <button onclick="window.location.href='{{ author["wallet_url"] }}';">Open</button>
            </div>
        </div>
    </div>

    <h1 class="username">{{ author["username"] }}</h1>
    <p class="description">{{ author["description"] }}</p>

    <div class="subscriptions">

        <div class="items" id="items">
            {% for item in subscriptions %}
            <div class="item" id="{{ item["id"] }}">
                <h2 class="title">{{ item["title"] }}</h2>
                <p class="price">{{ item["price_str"] }}</p>
                <p class="description">{{ item["description"] }}</p>
                <div class="send_info">
                    <p>
                    To send: <p class="price_xmr", id="priceXmr_{{ item["id"] }}">{{ item["price_xmr"] }} XMR</p>
                    </p>
                </div>
                <button class="paymentbtn" onclick="onBuyBtn(this.id, '{{ item["id"] }}', 'priceXmr_{{ item["id"] }}')" id="buyBtn_{{ item["id"] }}">Subscribe</button>
            </div>
            {% endfor %}
        </div>

    </div>

    <div class="content">

        <div class="items" id="items">
            {% for item in items %}
            <div class="item" id="{{ item["id"] }}">
                <h2 class="title">{{ item["title"] }}</h2>
                <p class="price">{{ item["price_str"] }}</p>
                <p class="description">{{ item["description"] }}</p>
                <div class="send_info">
                    <p>
                    To send: <p class="price_xmr", id="priceXmr_{{ item["id"] }}">{{ item["price_xmr"] }} XMR</p>
                    </p>
                </div>
                <button class="paymentbtn" onclick="onBuyBtn(this.id, '{{ item["id"] }}', 'priceXmr_{{ item["id"] }}')" id="buyBtn_{{ item["id"] }}">Buy this</button>
            </div>
            {% endfor %}
        </div>
        
        <div class="payment_checker", id="payment_checker">
            <div class="inner">
                <input type="text" id="code" name="code" placeholder="Enter payment code"><br>
            </div>
            <div class="inner">
                <input type="text" id="txid" name="txid" placeholder="Enter transaction id"><br>
            </div>
            <div class="inner">
                <button onclick="onCheckPaymentBtn(this)">Check payment</button>
            </div>
        </div>

    </div> 

</body>
</html>


